*{
    margin: 0%;
    padding: 0%;
}
img{
    width: 100%;
    height: auto;
}
html {
    scroll-behavior: smooth;
}
/* header bar */

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000; 
  color: white;
}
.header-left {
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-left: 0px;
}

.header-left a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  margin-left: 10px;
}


.header-right > a{
  padding-right: 10px;
}

.header-right i {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.header-right i:hover {
  color: #f1f1f1;
}

/* nav-bar */
/* .nav-1{
  opacity: 1;
}  */

.navbar-toggler-icon {
transition: transform 0.8s ease-in-out; 
}
.navbar-toggler.collapsed .navbar-toggler-icon {
transform: rotate(0deg); 

}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
transform: rotate(180deg);
}


.navbar-brand{
  font-family: "Roboto"!important;
  font-weight: 450;
  font-style: normal;
  font-size: 40px !important;
}
@media (max-width:426px) {
.navbar-brand {
  font-size: 30px !important;
}
}

.nav-link > img{
  width: 30px;
  height: 30px;
}
.navbar-nav{
  margin-right: 10%;
 
}
@media (max-width:1024px) {
.navbar-nav{
  margin-right: 0%;
}
}


.nav-item{
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px !important;

}
.navbar-brand{
  margin-left: 10%;
}
@media (max-width:426px){
.navbar-brand{
  margin-left: 0% ;
}
}
.navbar>.container-fluid {
    box-shadow: 0 4px 8px rgb(191 173 173);
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
     margin-top: -7px !important;
}

/* help */

.container{
    width: 70% !important;
}
@media (max-width:426px) {
    .container{
        width: 100% !important;
    }
}
.help-heading-page{
    text-align: center;
    padding-top: 80px;
    font-family: 'Roboto';
    font-size: 38px;
    font-weight: 300;
    line-height: 48px;
}
.help-para-1{
    padding-top: 50px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}
.help-para-2-heading > h2{
    padding-top: 40px;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
}

.help-para-2-heading-p-1{
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
    padding-top: 20px;
    line-height: 27px;
}
.help-para-2-heading-2 > p{
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
    padding-top: 20px;
    line-height: 27px;
}
.help-para-2-1-heading-return > h2{
    padding-top: 40px;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
}

.help-para-2-1-heading-return > p{
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
    padding-top: 20px;
    line-height: 27px;
}
.help-para-3-heading > h2{
    padding-top: 40px;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
}
@media (max-width:426px) {
    .help-para-2-heading > h2{
        text-align: center;
    }
    .help-para-2-1-heading-return > h2{
        text-align: center;
    }
    .help-para-3-heading > h2{
        text-align: center;
    }
}
.help-para-3-heading > p{
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
    padding-top: 20px;
    line-height: 27px;
}


/* contact-page */

.contact-page{
    padding-top: 100px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    outline: none;
    
  }
  input{
    width: 550px;
    height: 39px;
    outline: none;
  }
  
 
  input[type=submit] {
    background-color:#F35C24;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 157px;
    height: 47px    ;
    cursor: pointer;
    outline: none;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
  }
  
  input[type=submit]:hover {
    background-color: #000000;
  }
  
  .container {
   
    padding: 20px;
  }
  .container-h2{
    font-family: 'Roboto';
    font-size: 32Spx;
    font-weight: 400;
    line-height: 38px;
  }
  @media (max-width:426px) {
    .container-h2{
      margin-top: 20px;
    }
  }
  .label{
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 5px;
  }

input,textarea::placeholder{
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* contact-right */
.contact-right-side{
  padding-left: 20%;
 
}
@media (max-width:426px) {
  .contact-right-side{
    padding-left: 10%;
  }
}
@media (max-width:769px) {
  .container, .container-md, .container-sm{
    max-width: none !important;
  }
}



/* seventh-page */

.seventh-page{
    background-color: #f35c22;
    color: #fff;
    text-align: center;
    padding-top: 80px;
    margin-top: 50px;
  }
  .seventh-whole-contend > h2{
  font-size: "Roboto";
  font-size: 38px;
  font-weight: 400;
  }
  @media (max-width:426px) {
  .seventh-whole-contend > h2 {
    margin-top: -55px !important;
  }
  }
  .seventh-whole-contend > p{
    font-size: "Roboto";
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    padding-top: 30px;
  }
  .whole-contend-input-box > input{
    width: 470px;
    height: 50px;
    margin-top: 50px;
    outline: none;
    border: none;
    padding-left: 20px;
    
  }
  input::placeholder{
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  }
  @media (max-width:500px) {
  .whole-contend-input-box > input{
    width: 300px;
    height: 50px;
    
  }
  }
  .seventh-whole-contend > button{
    width: 166px;
    height: 48px;
    border: 1px solid white;
    background-color: #f35c22;
    color: white;
    margin-top: 10px;
    margin-bottom: 100px;
  }
  @media (max-width:426px) {
    .seventh-whole-contend > button{
      margin-bottom: 45px;
    }
  }
  .seventh-whole-contend  button:hover{
    background-color: black ;
    border: none;
  }
  
  /* footer */
  
  .custom-footer {
    background-color: white;
    border-top: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .footer-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .icon-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
  }
  
  .icon-link:hover {
    color: #000000;
  }
  
  .footer-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .footer-icons-h2{
    margin-right: 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 400;
  }
  
  .footer-links a:hover {
    color: #007bff;
  }
  
  @media (max-width: 768px) {
    .footer-left,
    .footer-right {
      justify-content: center;
    }
  }
  
  /* footer-1 */
  
  .header-top-1-1{
    background-color: #000000; 
    color: white;
    text-align: center;
    /* padding: 5px 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
  }

